<div class="row question">
  <div class="one column center-align">
    <div>
      <%= link_to "▲", vote_question_path(question, type: "Question", value: 1), method: "post" %>
    </div>
    <div>
      <%= question.votes_count %>
    </div>
    <div>
      <%= link_to "▼", vote_question_path(question, type: "Question", value: -1), method: "post" %>
    </div>
  </div>
  <div class="one column center-align">
    <%= pluralize(question.answers.count, "answer") %>
  </div>
  <div class="ten columns">
    <%= link_to question.title, question_path(question) %>
    <div class='row'>
      <div class='one-half column'>
        <%= render question.tags %>&nbsp;
      </div>
      <div class='one-half column right-align'>
        <%= link_to question.user.username, question.user %>
        <% if question.created_at == question.updated_at %>
          asked on <%= short_date(question.created_at.localtime) %>
        <% else %>
          updated on <%= short_date(question.updated_at.localtime) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>
