<h4>Ask a question</h4>
<%= form_for(:question, url: questions_path) do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body, size: '80x12', class: 'u-full-width' %>
  </div>
  <div>
    <%= f.label :tags %>
    <%= f.text_field :tags, class: 'u-full-width', value: '' %>
  </div>
  <%= f.submit "Post question", class: "button-primary" %>
<% end %>
