<h4>Log in</h4>
<%= form_for(:session, url: login_path) do |f| %>
  <ul><%= render partial:'shared/error', collection: @errors %></ul>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <%= f.submit "Log in", class: "button-primary" %>
<% end %>
