<div class="row comment">
	<div class="one column"></div>
	<div class="one column"><%= comment.votes.count %></div>
	<div class="ten columns"><article id="<%= comment.id %>"><%= comment.body %> - <%= link_to comment.user.username %> <%= comment.updated_at %></article></div>
</div>
