<h4>Profile for <%= @user.username %></h4>

<h5><%= pluralize(@user_questions.count, 'Questions') %> by this User</h5>
<hr>
<div class="questions">
  <% @user_questions.each do |question| %>
    <%= render partial: '/questions/question', locals: { question: question } %>
  <% end %>
</div>

<h5><%= pluralize(@user_answers.count, 'Answers') %> by this User</h5>
<hr>
<div class="answers">
  <% @user_answers.each do |answer| %>
    <%= render partial: 'answer', locals: { answer: answer } %>
  <% end %>
</div>

<h5><%= pluralize(@user_comments.count, 'Comments') %> by this User</h5>
<hr>
<div class="comments">
  <% @user_comments.each do |comment| %>
    <%= render partial: '/comments/comment', locals: { comment: comment } %>
  <% end %>
</div>
