<div class="row answer">
	<div class="one column"><%= answer.votes.count %></div>
	<div class="eleven columns"><article id="<%= answer.id %>"><%= answer.body %> answered <%= answer.created_at %> <%= link_to answer.user.username %></article></div>
</div>
