<div class="row answer">
	<div class="one column"><%= answer.votes_count %><%= link_to "up", vote_question_path(answer, type: "Answer", value: 1), method: "post" %>  <%= link_to "down", vote_question_path(answer, type: "Answer", value: -1), method: "post" %></div>
	<div class="eleven columns"><article id="<%= answer.id %>"><%= answer.body %> answered <%= answer.created_at %> <%= link_to answer.user.username %></article></div>
</div>
