<!DOCTYPE html>
<html>
<head>
  <title>Turtle Overflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<header class='container'>
  <div class='row'>
    <div class='one-third column'>
      <h1><%= link_to 'turtle overflow', root_path %></h1>
    </div>
    <div class='two-thirds column'>
      <div class='user-links'>
        <% if logged_in? %>
          <%= link_to current_user.username, current_user %> |
          <%= link_to 'logout', logout_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", '#' %> |
          <%= link_to "Log in", login_path %>
        <% end %>
      </div>
      <div class="navigation-links">
        <%= link_to "Questions", questions_path, class: 'button' %>
        <%= link_to "Users", "#", class: 'button' %>
        <%= link_to "Unanswered Questions", "questions/unanswered", class: 'button' %>
        <%= link_to "Ask a Question", "#", class: 'button' %>
      </div>
    </div>
  </div>
</header>
<body>
  <div class='container'>
    <% if flash.any?  %>
      <div id="flash">
        <% flash.each do |type, message| %>
          <div class="<%= type %> ">
            <%= message %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
