<!DOCTYPE html>
<html>
<head>
  <title>Turtle Overflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<header class='container'>
  <h1>Turtle Overflow</h1>
</header>
<body>
  <div class='container'>
    <div class="row">
      <div class="two columns">
      </div>
      <div class="navigation-links">
        <div class="two columns">
          <%= link_to "Questions", questions_path %>
        </div>
        <div class="two columns">
          <%= link_to "Users", "#" %>
        </div>
        <div class="two columns">
          <%= link_to "Unanswered Questions", "questions/unanswered" %>
        </div>
        <div class="two columns">
          <%= link_to "Ask a Question", "#" %>
        </div>
      </div>
    </div>
  </div>
    <%= yield %>
  </div>
</body>
</html>
