<!DOCTYPE html>
<html>
<head>
  <title>Turtle Overflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<header class='container'>
  <div class='row'>
    <div class='one-third column'>
      <h1>turtle overflow</h1>
    </div>
    <div class='two-thirds column'>
      <div class='user-links'>
        user links
      </div>
      <div class="navigation-links">
        <%= link_to "Questions", questions_path, class: 'button' %>
        <%= link_to "Users", "#", class: 'button' %>
        <%= link_to "Unanswered Questions", "questions/unanswered", class: 'button' %>
        <%= link_to "Ask a Question", "#", class: 'button' %>
      </div>
    </div>
  </div>
</header>
<body>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
